/* CSS declarations go here */

.rounded(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}

@chooser_height: 110px;
@controls_height: 40px;

.disabler {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: @controls_height;
    background: rgba(255, 255, 255, 0);
    z-index: 9999;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1000000;
}

.chooser {
    position: fixed;
    left: 0;
    right: 0;
    bottom: @controls_height;
    height: @chooser_height;
    background: white;
    overflow: visible;
    box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.25);
}

.chooser_button {
    margin-top: 10px;
    margin-right: 23px;

    p {
        width: 60px;
        text-align: center;
        padding: 5px;

    }

    .selected {
        background: rgba(0, 0, 55, .3);
        .rounded
    }
}

.product_list {
    width: 100%;
    background: white;
}

.product_stack {
    width: 100%;
    .product_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: @controls_height;
    background: green;

    .btn {
        height: @controls_height;
        padding: 10px;

    }

    .req_ctrl_btn {
        width: 100%;
    }
}

.take_control_btn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, .2);

    .btn {
        margin-top: 175px;
        padding: 30px;
    }
}


.drop-shadow {
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved-vt-2:before {
    right:0;
}

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    // -moz-border-radius:10px / 100px;
    // border-radius:10px / 100px;
}

.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    // -moz-border-radius:100px / 10px;
    // border-radius:100px / 10px;
}

.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}